<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assec/style.css">
    <title>Tixly baby Clothing eCommerce Website Template</title>
</head>
<body>
    <header>
        <nav>
            <div class="tix">
                <h2>TIXLY</h2>
                <div class="sum">
                    <a href="#">HOME</a>
                    <a href="#">SHOP</a>
                    <a href="#">ABOUT</a>
                    <a href="#">INSIGHTS</a>
                    <a href="#">CONTACT</a>
                    <a href="#"><i class="fa-solid fa-bag-shopping"></i>SHOPPING BAG</a>
                </div>
            </div>
    </nav>
    </header>
    <main>
        <section id="Shop">
            <div class="all1">
                    <img src="./bacgroundimage.jpg" alt="">
                
                <div class="summary">
                    <h1 class="item">Shop Together</h1>
                    <p class="item"><span> We want your child to feel comfortable, loved and free. Our organic and fairtrade clothing ensures that your baby can play and be happy.</span></p>
                    <div class="item">
                        <button>VIEW MORE</button>
                     </div>
                </div>
            </div>
        </section>
        <section id="Explore">
            <div class="all2">
                <div class="summary">
                    <h2>Explore your baby's needs...</h2>
                    <p><span>From baby accessories to children's clothing, there's something for <p>everyone in our store.</p></span></p>
                </div>
                <div class="image">
                    <div class="item">
                        <img class="first" src="https://images.unsplash.com/photo-1527627537292-b0c02afd7be5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjcyNTgzfQ&w=392&q=70&auto=format&fit=crop&h=496" alt="">
                        <div><button>ACCESSORIES</button></div>
                    </div>
                    <div class="item">
                        <img class="first" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=392,h=496,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-dOqw06G9g9C00pqx.jpg" alt="">
                        <div><button>CLOTHES</button></div>
                    </div>
                    <div class="item">
                        <img class="first" src="https://images.unsplash.com/photo-1527866512907-a35a62a0f6c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjcyNTgzfQ&w=392&q=70&auto=format&fit=crop&h=496" alt="">
                        <div><button>TOYS</button></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Story">
            <div class="all3">
                <div class="summary">
                    <p> OUR STORY</p>
                    <h2 class="item">It's all about what they love the most...</h2>
                     <p class="item"><span>We are a boutique brand and online store that specialises in all kinds of items for kids. Our goal is to help children grow and feel comfortable in a world full of play, freedom, and fun. We are dedicated to helping children of all ages enjoy the things that they love most. At the end of the day, we are about making the world a better place.</span></p>
                     <div class="item"><button>DISCOVER</button></div>
                </div>
                <div class="image">
                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=741,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-AR0QznlQ1vCZ8PqJ.jpg" alt="coffe and knitting rope">
                </div>
            </div>
        </section>
        <section id="Galery">
            <div class="all4">
                <h2>An inside look to our inspirational gallery...</h2>
                <div class="image">
                    <div class="item">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=576,h=736,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-dOqw03VXpgcWNz19.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=576,h=736,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-d95O6yxk60i501wP.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=576,h=736,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A85gykoOBoHpW6Q6.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=576,h=736,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-m6Lz1oaOJRcXRKD7.jpg" alt="">
                    </div>
                </div>
                <div><button>DISCOVER MORE</button></div>
            </div>
        </section>
    </main>
    <footer>
        <section><div class="all5">
            <div class="info">
                <div class="col">
                    <h4>Address</h4>
                    <div class="item">
                        <p><span>3721 Single Street</span></p>
                        <p><span>Quincy, MA 02169</span></p></div>
                </div>
                <div class="col">
                    <h4>Contacts</h4>
                    <div class="item">
                        <p><span>123 456 7890</span></p>
                        <p><span>info@tixly.com</span></p></div>
                </div>
                <div class="col">
                    <h4>FAQ</h4>
                   <div class="item">
                    <p><a href="https://tixlyvnpr7.zyrosite.com/faq">Shipping & Return policy</a></p>
                   </div>
                </div>
                <form class="col" action="#">
                    <h4>Subscribe to our newsletter</h4>
                    <label for="#">
                        <input type="email" placeholder="Your email address">
                    </label>
                    <div>
                        <input type="submit">
                    </div>
                </form>
            </div>
            <div class="icon">
               
                    <i class="fa-brands fa-twitter item"></i>    
                
                    <i class="fa-brands fa-facebook item"></i>
               
                    <i class="fa-brands fa-instagram item"></i>
                
                <p class="item"><span>Powered by Zyro.com</span></p>
            
        </div>
        </section>
        
    </footer>
       
           
    
</body>
</html>